/*!
Ionicons, v2.0.1
Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
https://twitter.com/benjsperry  https://twitter.com/ionicframework
MIT License: https://github.com/driftyco/ionicons
*/
@font-face {
  font-family: "Ionicons";
  src: url(/button/static/fonts/ionicons.19e65b8.19e65b8.eot);
  src: url(/button/static/fonts/ionicons.19e65b8.19e65b8.eot#iefix) format("embedded-opentype"), url(/button/static/fonts/ionicons.dd4781d.dd4781d.ttf) format("truetype"), url(/button/static/fonts/ionicons.2c159d0.2c159d0.woff) format("woff"), url(/buttonionicons.svg?76feeddb13c5ad4f4c05ef7d88531f96#Ionicons) format("svg");
  font-weight: normal;
  font-style: normal;
}
.vm-icon,
[class^='vm-icon-'],
[class*=' vm-icon-'] {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.vm-icon-alert:before {
  content: "\F101";
}
.vm-icon-alert-circled:before {
  content: "\F100";
}
.vm-icon-android-add:before {
  content: "\F2C7";
}
.vm-icon-android-add-circle:before {
  content: "\F359";
}
.vm-icon-android-alarm-clock:before {
  content: "\F35A";
}
.vm-icon-android-alert:before {
  content: "\F35B";
}
.vm-icon-android-apps:before {
  content: "\F35C";
}
.vm-icon-android-archive:before {
  content: "\F2C9";
}
.vm-icon-android-arrow-back:before {
  content: "\F2CA";
}
.vm-icon-android-arrow-down:before {
  content: "\F35D";
}
.vm-icon-android-arrow-dropdown:before {
  content: "\F35F";
}
.vm-icon-android-arrow-dropdown-circle:before {
  content: "\F35E";
}
.vm-icon-android-arrow-dropleft:before {
  content: "\F361";
}
.vm-icon-android-arrow-dropleft-circle:before {
  content: "\F360";
}
.vm-icon-android-arrow-dropright:before {
  content: "\F363";
}
.vm-icon-android-arrow-dropright-circle:before {
  content: "\F362";
}
.vm-icon-android-arrow-dropup:before {
  content: "\F365";
}
.vm-icon-android-arrow-dropup-circle:before {
  content: "\F364";
}
.vm-icon-android-arrow-forward:before {
  content: "\F30F";
}
.vm-icon-android-arrow-up:before {
  content: "\F366";
}
.vm-icon-android-attach:before {
  content: "\F367";
}
.vm-icon-android-bar:before {
  content: "\F368";
}
.vm-icon-android-bicycle:before {
  content: "\F369";
}
.vm-icon-android-boat:before {
  content: "\F36A";
}
.vm-icon-android-bookmark:before {
  content: "\F36B";
}
.vm-icon-android-bulb:before {
  content: "\F36C";
}
.vm-icon-android-bus:before {
  content: "\F36D";
}
.vm-icon-android-calendar:before {
  content: "\F2D1";
}
.vm-icon-android-call:before {
  content: "\F2D2";
}
.vm-icon-android-camera:before {
  content: "\F2D3";
}
.vm-icon-android-cancel:before {
  content: "\F36E";
}
.vm-icon-android-car:before {
  content: "\F36F";
}
.vm-icon-android-cart:before {
  content: "\F370";
}
.vm-icon-android-chat:before {
  content: "\F2D4";
}
.vm-icon-android-checkbox:before {
  content: "\F374";
}
.vm-icon-android-checkbox-blank:before {
  content: "\F371";
}
.vm-icon-android-checkbox-outline:before {
  content: "\F373";
}
.vm-icon-android-checkbox-outline-blank:before {
  content: "\F372";
}
.vm-icon-android-checkmark-circle:before {
  content: "\F375";
}
.vm-icon-android-clipboard:before {
  content: "\F376";
}
.vm-icon-android-close:before {
  content: "\F2D7";
}
.vm-icon-android-cloud:before {
  content: "\F37A";
}
.vm-icon-android-cloud-circle:before {
  content: "\F377";
}
.vm-icon-android-cloud-done:before {
  content: "\F378";
}
.vm-icon-android-cloud-outline:before {
  content: "\F379";
}
.vm-icon-android-color-palette:before {
  content: "\F37B";
}
.vm-icon-android-compass:before {
  content: "\F37C";
}
.vm-icon-android-contact:before {
  content: "\F2D8";
}
.vm-icon-android-contacts:before {
  content: "\F2D9";
}
.vm-icon-android-contract:before {
  content: "\F37D";
}
.vm-icon-android-create:before {
  content: "\F37E";
}
.vm-icon-android-delete:before {
  content: "\F37F";
}
.vm-icon-android-desktop:before {
  content: "\F380";
}
.vm-icon-android-document:before {
  content: "\F381";
}
.vm-icon-android-done:before {
  content: "\F383";
}
.vm-icon-android-done-all:before {
  content: "\F382";
}
.vm-icon-android-download:before {
  content: "\F2DD";
}
.vm-icon-android-drafts:before {
  content: "\F384";
}
.vm-icon-android-exit:before {
  content: "\F385";
}
.vm-icon-android-expand:before {
  content: "\F386";
}
.vm-icon-android-favorite:before {
  content: "\F388";
}
.vm-icon-android-favorite-outline:before {
  content: "\F387";
}
.vm-icon-android-film:before {
  content: "\F389";
}
.vm-icon-android-folder:before {
  content: "\F2E0";
}
.vm-icon-android-folder-open:before {
  content: "\F38A";
}
.vm-icon-android-funnel:before {
  content: "\F38B";
}
.vm-icon-android-globe:before {
  content: "\F38C";
}
.vm-icon-android-hand:before {
  content: "\F2E3";
}
.vm-icon-android-hangout:before {
  content: "\F38D";
}
.vm-icon-android-happy:before {
  content: "\F38E";
}
.vm-icon-android-home:before {
  content: "\F38F";
}
.vm-icon-android-image:before {
  content: "\F2E4";
}
.vm-icon-android-laptop:before {
  content: "\F390";
}
.vm-icon-android-list:before {
  content: "\F391";
}
.vm-icon-android-locate:before {
  content: "\F2E9";
}
.vm-icon-android-lock:before {
  content: "\F392";
}
.vm-icon-android-mail:before {
  content: "\F2EB";
}
.vm-icon-android-map:before {
  content: "\F393";
}
.vm-icon-android-menu:before {
  content: "\F394";
}
.vm-icon-android-microphone:before {
  content: "\F2EC";
}
.vm-icon-android-microphone-off:before {
  content: "\F395";
}
.vm-icon-android-more-horizontal:before {
  content: "\F396";
}
.vm-icon-android-more-vertical:before {
  content: "\F397";
}
.vm-icon-android-navigate:before {
  content: "\F398";
}
.vm-icon-android-notifications:before {
  content: "\F39B";
}
.vm-icon-android-notifications-none:before {
  content: "\F399";
}
.vm-icon-android-notifications-off:before {
  content: "\F39A";
}
.vm-icon-android-open:before {
  content: "\F39C";
}
.vm-icon-android-options:before {
  content: "\F39D";
}
.vm-icon-android-people:before {
  content: "\F39E";
}
.vm-icon-android-person:before {
  content: "\F3A0";
}
.vm-icon-android-person-add:before {
  content: "\F39F";
}
.vm-icon-android-phone-landscape:before {
  content: "\F3A1";
}
.vm-icon-android-phone-portrait:before {
  content: "\F3A2";
}
.vm-icon-android-pin:before {
  content: "\F3A3";
}
.vm-icon-android-plane:before {
  content: "\F3A4";
}
.vm-icon-android-playstore:before {
  content: "\F2F0";
}
.vm-icon-android-print:before {
  content: "\F3A5";
}
.vm-icon-android-radio-button-off:before {
  content: "\F3A6";
}
.vm-icon-android-radio-button-on:before {
  content: "\F3A7";
}
.vm-icon-android-refresh:before {
  content: "\F3A8";
}
.vm-icon-android-remove:before {
  content: "\F2F4";
}
.vm-icon-android-remove-circle:before {
  content: "\F3A9";
}
.vm-icon-android-restaurant:before {
  content: "\F3AA";
}
.vm-icon-android-sad:before {
  content: "\F3AB";
}
.vm-icon-android-search:before {
  content: "\F2F5";
}
.vm-icon-android-send:before {
  content: "\F2F6";
}
.vm-icon-android-settings:before {
  content: "\F2F7";
}
.vm-icon-android-share:before {
  content: "\F2F8";
}
.vm-icon-android-share-alt:before {
  content: "\F3AC";
}
.vm-icon-android-star:before {
  content: "\F2FC";
}
.vm-icon-android-star-half:before {
  content: "\F3AD";
}
.vm-icon-android-star-outline:before {
  content: "\F3AE";
}
.vm-icon-android-stopwatch:before {
  content: "\F2FD";
}
.vm-icon-android-subway:before {
  content: "\F3AF";
}
.vm-icon-android-sunny:before {
  content: "\F3B0";
}
.vm-icon-android-sync:before {
  content: "\F3B1";
}
.vm-icon-android-textsms:before {
  content: "\F3B2";
}
.vm-icon-android-time:before {
  content: "\F3B3";
}
.vm-icon-android-train:before {
  content: "\F3B4";
}
.vm-icon-android-unlock:before {
  content: "\F3B5";
}
.vm-icon-android-upload:before {
  content: "\F3B6";
}
.vm-icon-android-volume-down:before {
  content: "\F3B7";
}
.vm-icon-android-volume-mute:before {
  content: "\F3B8";
}
.vm-icon-android-volume-off:before {
  content: "\F3B9";
}
.vm-icon-android-volume-up:before {
  content: "\F3BA";
}
.vm-icon-android-walk:before {
  content: "\F3BB";
}
.vm-icon-android-warning:before {
  content: "\F3BC";
}
.vm-icon-android-watch:before {
  content: "\F3BD";
}
.vm-icon-android-wifi:before {
  content: "\F305";
}
.vm-icon-aperture:before {
  content: "\F313";
}
.vm-icon-archive:before {
  content: "\F102";
}
.vm-icon-arrow-down-a:before {
  content: "\F103";
}
.vm-icon-arrow-down-b:before {
  content: "\F104";
}
.vm-icon-arrow-down-c:before {
  content: "\F105";
}
.vm-icon-arrow-expand:before {
  content: "\F25E";
}
.vm-icon-arrow-graph-down-left:before {
  content: "\F25F";
}
.vm-icon-arrow-graph-down-right:before {
  content: "\F260";
}
.vm-icon-arrow-graph-up-left:before {
  content: "\F261";
}
.vm-icon-arrow-graph-up-right:before {
  content: "\F262";
}
.vm-icon-arrow-left-a:before {
  content: "\F106";
}
.vm-icon-arrow-left-b:before {
  content: "\F107";
}
.vm-icon-arrow-left-c:before {
  content: "\F108";
}
.vm-icon-arrow-move:before {
  content: "\F263";
}
.vm-icon-arrow-resize:before {
  content: "\F264";
}
.vm-icon-arrow-return-left:before {
  content: "\F265";
}
.vm-icon-arrow-return-right:before {
  content: "\F266";
}
.vm-icon-arrow-right-a:before {
  content: "\F109";
}
.vm-icon-arrow-right-b:before {
  content: "\F10A";
}
.vm-icon-arrow-right-c:before {
  content: "\F10B";
}
.vm-icon-arrow-shrink:before {
  content: "\F267";
}
.vm-icon-arrow-swap:before {
  content: "\F268";
}
.vm-icon-arrow-up-a:before {
  content: "\F10C";
}
.vm-icon-arrow-up-b:before {
  content: "\F10D";
}
.vm-icon-arrow-up-c:before {
  content: "\F10E";
}
.vm-icon-asterisk:before {
  content: "\F314";
}
.vm-icon-at:before {
  content: "\F10F";
}
.vm-icon-backspace:before {
  content: "\F3BF";
}
.vm-icon-backspace-outline:before {
  content: "\F3BE";
}
.vm-icon-bag:before {
  content: "\F110";
}
.vm-icon-battery-charging:before {
  content: "\F111";
}
.vm-icon-battery-empty:before {
  content: "\F112";
}
.vm-icon-battery-full:before {
  content: "\F113";
}
.vm-icon-battery-half:before {
  content: "\F114";
}
.vm-icon-battery-low:before {
  content: "\F115";
}
.vm-icon-beaker:before {
  content: "\F269";
}
.vm-icon-beer:before {
  content: "\F26A";
}
.vm-icon-bluetooth:before {
  content: "\F116";
}
.vm-icon-bonfire:before {
  content: "\F315";
}
.vm-icon-bookmark:before {
  content: "\F26B";
}
.vm-icon-bowtie:before {
  content: "\F3C0";
}
.vm-icon-briefcase:before {
  content: "\F26C";
}
.vm-icon-bug:before {
  content: "\F2BE";
}
.vm-icon-calculator:before {
  content: "\F26D";
}
.vm-icon-calendar:before {
  content: "\F117";
}
.vm-icon-camera:before {
  content: "\F118";
}
.vm-icon-card:before {
  content: "\F119";
}
.vm-icon-cash:before {
  content: "\F316";
}
.vm-icon-chatbox:before {
  content: "\F11B";
}
.vm-icon-chatbox-working:before {
  content: "\F11A";
}
.vm-icon-chatboxes:before {
  content: "\F11C";
}
.vm-icon-chatbubble:before {
  content: "\F11E";
}
.vm-icon-chatbubble-working:before {
  content: "\F11D";
}
.vm-icon-chatbubbles:before {
  content: "\F11F";
}
.vm-icon-checkmark:before {
  content: "\F122";
}
.vm-icon-checkmark-circled:before {
  content: "\F120";
}
.vm-icon-checkmark-round:before {
  content: "\F121";
}
.vm-icon-chevron-down:before {
  content: "\F123";
}
.vm-icon-chevron-left:before {
  content: "\F124";
}
.vm-icon-chevron-right:before {
  content: "\F125";
}
.vm-icon-chevron-up:before {
  content: "\F126";
}
.vm-icon-clipboard:before {
  content: "\F127";
}
.vm-icon-clock:before {
  content: "\F26E";
}
.vm-icon-close:before {
  content: "\F12A";
}
.vm-icon-close-circled:before {
  content: "\F128";
}
.vm-icon-close-round:before {
  content: "\F129";
}
.vm-icon-closed-captioning:before {
  content: "\F317";
}
.vm-icon-cloud:before {
  content: "\F12B";
}
.vm-icon-code:before {
  content: "\F271";
}
.vm-icon-code-download:before {
  content: "\F26F";
}
.vm-icon-code-working:before {
  content: "\F270";
}
.vm-icon-coffee:before {
  content: "\F272";
}
.vm-icon-compass:before {
  content: "\F273";
}
.vm-icon-compose:before {
  content: "\F12C";
}
.vm-icon-connection-bars:before {
  content: "\F274";
}
.vm-icon-contrast:before {
  content: "\F275";
}
.vm-icon-crop:before {
  content: "\F3C1";
}
.vm-icon-cube:before {
  content: "\F318";
}
.vm-icon-disc:before {
  content: "\F12D";
}
.vm-icon-document:before {
  content: "\F12F";
}
.vm-icon-document-text:before {
  content: "\F12E";
}
.vm-icon-drag:before {
  content: "\F130";
}
.vm-icon-earth:before {
  content: "\F276";
}
.vm-icon-easel:before {
  content: "\F3C2";
}
.vm-icon-edit:before {
  content: "\F2BF";
}
.vm-icon-egg:before {
  content: "\F277";
}
.vm-icon-eject:before {
  content: "\F131";
}
.vm-icon-email:before {
  content: "\F132";
}
.vm-icon-email-unread:before {
  content: "\F3C3";
}
.vm-icon-erlenmeyer-flask:before {
  content: "\F3C5";
}
.vm-icon-erlenmeyer-flask-bubbles:before {
  content: "\F3C4";
}
.vm-icon-eye:before {
  content: "\F133";
}
.vm-icon-eye-disabled:before {
  content: "\F306";
}
.vm-icon-female:before {
  content: "\F278";
}
.vm-icon-filing:before {
  content: "\F134";
}
.vm-icon-film-marker:before {
  content: "\F135";
}
.vm-icon-fireball:before {
  content: "\F319";
}
.vm-icon-flag:before {
  content: "\F279";
}
.vm-icon-flame:before {
  content: "\F31A";
}
.vm-icon-flash:before {
  content: "\F137";
}
.vm-icon-flash-off:before {
  content: "\F136";
}
.vm-icon-folder:before {
  content: "\F139";
}
.vm-icon-fork:before {
  content: "\F27A";
}
.vm-icon-fork-repo:before {
  content: "\F2C0";
}
.vm-icon-forward:before {
  content: "\F13A";
}
.vm-icon-funnel:before {
  content: "\F31B";
}
.vm-icon-gear-a:before {
  content: "\F13D";
}
.vm-icon-gear-b:before {
  content: "\F13E";
}
.vm-icon-grid:before {
  content: "\F13F";
}
.vm-icon-hammer:before {
  content: "\F27B";
}
.vm-icon-happy:before {
  content: "\F31C";
}
.vm-icon-happy-outline:before {
  content: "\F3C6";
}
.vm-icon-headphone:before {
  content: "\F140";
}
.vm-icon-heart:before {
  content: "\F141";
}
.vm-icon-heart-broken:before {
  content: "\F31D";
}
.vm-icon-help:before {
  content: "\F143";
}
.vm-icon-help-buoy:before {
  content: "\F27C";
}
.vm-icon-help-circled:before {
  content: "\F142";
}
.vm-icon-home:before {
  content: "\F144";
}
.vm-icon-icecream:before {
  content: "\F27D";
}
.vm-icon-image:before {
  content: "\F147";
}
.vm-icon-images:before {
  content: "\F148";
}
.vm-icon-information:before {
  content: "\F14A";
}
.vm-icon-information-circled:before {
  content: "\F149";
}
.vm-icon-ionic:before {
  content: "\F14B";
}
.vm-icon-ios-alarm:before {
  content: "\F3C8";
}
.vm-icon-ios-alarm-outline:before {
  content: "\F3C7";
}
.vm-icon-ios-albums:before {
  content: "\F3CA";
}
.vm-icon-ios-albums-outline:before {
  content: "\F3C9";
}
.vm-icon-ios-americanfootball:before {
  content: "\F3CC";
}
.vm-icon-ios-americanfootball-outline:before {
  content: "\F3CB";
}
.vm-icon-ios-analytics:before {
  content: "\F3CE";
}
.vm-icon-ios-analytics-outline:before {
  content: "\F3CD";
}
.vm-icon-ios-arrow-back:before {
  content: "\F3CF";
}
.vm-icon-ios-arrow-down:before {
  content: "\F3D0";
}
.vm-icon-ios-arrow-forward:before {
  content: "\F3D1";
}
.vm-icon-ios-arrow-left:before {
  content: "\F3D2";
}
.vm-icon-ios-arrow-right:before {
  content: "\F3D3";
}
.vm-icon-ios-arrow-thin-down:before {
  content: "\F3D4";
}
.vm-icon-ios-arrow-thin-left:before {
  content: "\F3D5";
}
.vm-icon-ios-arrow-thin-right:before {
  content: "\F3D6";
}
.vm-icon-ios-arrow-thin-up:before {
  content: "\F3D7";
}
.vm-icon-ios-arrow-up:before {
  content: "\F3D8";
}
.vm-icon-ios-at:before {
  content: "\F3DA";
}
.vm-icon-ios-at-outline:before {
  content: "\F3D9";
}
.vm-icon-ios-barcode:before {
  content: "\F3DC";
}
.vm-icon-ios-barcode-outline:before {
  content: "\F3DB";
}
.vm-icon-ios-baseball:before {
  content: "\F3DE";
}
.vm-icon-ios-baseball-outline:before {
  content: "\F3DD";
}
.vm-icon-ios-basketball:before {
  content: "\F3E0";
}
.vm-icon-ios-basketball-outline:before {
  content: "\F3DF";
}
.vm-icon-ios-bell:before {
  content: "\F3E2";
}
.vm-icon-ios-bell-outline:before {
  content: "\F3E1";
}
.vm-icon-ios-body:before {
  content: "\F3E4";
}
.vm-icon-ios-body-outline:before {
  content: "\F3E3";
}
.vm-icon-ios-bolt:before {
  content: "\F3E6";
}
.vm-icon-ios-bolt-outline:before {
  content: "\F3E5";
}
.vm-icon-ios-book:before {
  content: "\F3E8";
}
.vm-icon-ios-book-outline:before {
  content: "\F3E7";
}
.vm-icon-ios-bookmarks:before {
  content: "\F3EA";
}
.vm-icon-ios-bookmarks-outline:before {
  content: "\F3E9";
}
.vm-icon-ios-box:before {
  content: "\F3EC";
}
.vm-icon-ios-box-outline:before {
  content: "\F3EB";
}
.vm-icon-ios-briefcase:before {
  content: "\F3EE";
}
.vm-icon-ios-briefcase-outline:before {
  content: "\F3ED";
}
.vm-icon-ios-browsers:before {
  content: "\F3F0";
}
.vm-icon-ios-browsers-outline:before {
  content: "\F3EF";
}
.vm-icon-ios-calculator:before {
  content: "\F3F2";
}
.vm-icon-ios-calculator-outline:before {
  content: "\F3F1";
}
.vm-icon-ios-calendar:before {
  content: "\F3F4";
}
.vm-icon-ios-calendar-outline:before {
  content: "\F3F3";
}
.vm-icon-ios-camera:before {
  content: "\F3F6";
}
.vm-icon-ios-camera-outline:before {
  content: "\F3F5";
}
.vm-icon-ios-cart:before {
  content: "\F3F8";
}
.vm-icon-ios-cart-outline:before {
  content: "\F3F7";
}
.vm-icon-ios-chatboxes:before {
  content: "\F3FA";
}
.vm-icon-ios-chatboxes-outline:before {
  content: "\F3F9";
}
.vm-icon-ios-chatbubble:before {
  content: "\F3FC";
}
.vm-icon-ios-chatbubble-outline:before {
  content: "\F3FB";
}
.vm-icon-ios-checkmark:before {
  content: "\F3FF";
}
.vm-icon-ios-checkmark-empty:before {
  content: "\F3FD";
}
.vm-icon-ios-checkmark-outline:before {
  content: "\F3FE";
}
.vm-icon-ios-circle-filled:before {
  content: "\F400";
}
.vm-icon-ios-circle-outline:before {
  content: "\F401";
}
.vm-icon-ios-clock:before {
  content: "\F403";
}
.vm-icon-ios-clock-outline:before {
  content: "\F402";
}
.vm-icon-ios-close:before {
  content: "\F406";
}
.vm-icon-ios-close-empty:before {
  content: "\F404";
}
.vm-icon-ios-close-outline:before {
  content: "\F405";
}
.vm-icon-ios-cloud:before {
  content: "\F40C";
}
.vm-icon-ios-cloud-download:before {
  content: "\F408";
}
.vm-icon-ios-cloud-download-outline:before {
  content: "\F407";
}
.vm-icon-ios-cloud-outline:before {
  content: "\F409";
}
.vm-icon-ios-cloud-upload:before {
  content: "\F40B";
}
.vm-icon-ios-cloud-upload-outline:before {
  content: "\F40A";
}
.vm-icon-ios-cloudy:before {
  content: "\F410";
}
.vm-icon-ios-cloudy-night:before {
  content: "\F40E";
}
.vm-icon-ios-cloudy-night-outline:before {
  content: "\F40D";
}
.vm-icon-ios-cloudy-outline:before {
  content: "\F40F";
}
.vm-icon-ios-cog:before {
  content: "\F412";
}
.vm-icon-ios-cog-outline:before {
  content: "\F411";
}
.vm-icon-ios-color-filter:before {
  content: "\F414";
}
.vm-icon-ios-color-filter-outline:before {
  content: "\F413";
}
.vm-icon-ios-color-wand:before {
  content: "\F416";
}
.vm-icon-ios-color-wand-outline:before {
  content: "\F415";
}
.vm-icon-ios-compose:before {
  content: "\F418";
}
.vm-icon-ios-compose-outline:before {
  content: "\F417";
}
.vm-icon-ios-contact:before {
  content: "\F41A";
}
.vm-icon-ios-contact-outline:before {
  content: "\F419";
}
.vm-icon-ios-copy:before {
  content: "\F41C";
}
.vm-icon-ios-copy-outline:before {
  content: "\F41B";
}
.vm-icon-ios-crop:before {
  content: "\F41E";
}
.vm-icon-ios-crop-strong:before {
  content: "\F41D";
}
.vm-icon-ios-download:before {
  content: "\F420";
}
.vm-icon-ios-download-outline:before {
  content: "\F41F";
}
.vm-icon-ios-drag:before {
  content: "\F421";
}
.vm-icon-ios-email:before {
  content: "\F423";
}
.vm-icon-ios-email-outline:before {
  content: "\F422";
}
.vm-icon-ios-eye:before {
  content: "\F425";
}
.vm-icon-ios-eye-outline:before {
  content: "\F424";
}
.vm-icon-ios-fastforward:before {
  content: "\F427";
}
.vm-icon-ios-fastforward-outline:before {
  content: "\F426";
}
.vm-icon-ios-filing:before {
  content: "\F429";
}
.vm-icon-ios-filing-outline:before {
  content: "\F428";
}
.vm-icon-ios-film:before {
  content: "\F42B";
}
.vm-icon-ios-film-outline:before {
  content: "\F42A";
}
.vm-icon-ios-flag:before {
  content: "\F42D";
}
.vm-icon-ios-flag-outline:before {
  content: "\F42C";
}
.vm-icon-ios-flame:before {
  content: "\F42F";
}
.vm-icon-ios-flame-outline:before {
  content: "\F42E";
}
.vm-icon-ios-flask:before {
  content: "\F431";
}
.vm-icon-ios-flask-outline:before {
  content: "\F430";
}
.vm-icon-ios-flower:before {
  content: "\F433";
}
.vm-icon-ios-flower-outline:before {
  content: "\F432";
}
.vm-icon-ios-folder:before {
  content: "\F435";
}
.vm-icon-ios-folder-outline:before {
  content: "\F434";
}
.vm-icon-ios-football:before {
  content: "\F437";
}
.vm-icon-ios-football-outline:before {
  content: "\F436";
}
.vm-icon-ios-game-controller-a:before {
  content: "\F439";
}
.vm-icon-ios-game-controller-a-outline:before {
  content: "\F438";
}
.vm-icon-ios-game-controller-b:before {
  content: "\F43B";
}
.vm-icon-ios-game-controller-b-outline:before {
  content: "\F43A";
}
.vm-icon-ios-gear:before {
  content: "\F43D";
}
.vm-icon-ios-gear-outline:before {
  content: "\F43C";
}
.vm-icon-ios-glasses:before {
  content: "\F43F";
}
.vm-icon-ios-glasses-outline:before {
  content: "\F43E";
}
.vm-icon-ios-grid-view:before {
  content: "\F441";
}
.vm-icon-ios-grid-view-outline:before {
  content: "\F440";
}
.vm-icon-ios-heart:before {
  content: "\F443";
}
.vm-icon-ios-heart-outline:before {
  content: "\F442";
}
.vm-icon-ios-help:before {
  content: "\F446";
}
.vm-icon-ios-help-empty:before {
  content: "\F444";
}
.vm-icon-ios-help-outline:before {
  content: "\F445";
}
.vm-icon-ios-home:before {
  content: "\F448";
}
.vm-icon-ios-home-outline:before {
  content: "\F447";
}
.vm-icon-ios-infinite:before {
  content: "\F44A";
}
.vm-icon-ios-infinite-outline:before {
  content: "\F449";
}
.vm-icon-ios-information:before {
  content: "\F44D";
}
.vm-icon-ios-information-empty:before {
  content: "\F44B";
}
.vm-icon-ios-information-outline:before {
  content: "\F44C";
}
.vm-icon-ios-ionic-outline:before {
  content: "\F44E";
}
.vm-icon-ios-keypad:before {
  content: "\F450";
}
.vm-icon-ios-keypad-outline:before {
  content: "\F44F";
}
.vm-icon-ios-lightbulb:before {
  content: "\F452";
}
.vm-icon-ios-lightbulb-outline:before {
  content: "\F451";
}
.vm-icon-ios-list:before {
  content: "\F454";
}
.vm-icon-ios-list-outline:before {
  content: "\F453";
}
.vm-icon-ios-location:before {
  content: "\F456";
}
.vm-icon-ios-location-outline:before {
  content: "\F455";
}
.vm-icon-ios-locked:before {
  content: "\F458";
}
.vm-icon-ios-locked-outline:before {
  content: "\F457";
}
.vm-icon-ios-loop:before {
  content: "\F45A";
}
.vm-icon-ios-loop-strong:before {
  content: "\F459";
}
.vm-icon-ios-medical:before {
  content: "\F45C";
}
.vm-icon-ios-medical-outline:before {
  content: "\F45B";
}
.vm-icon-ios-medkit:before {
  content: "\F45E";
}
.vm-icon-ios-medkit-outline:before {
  content: "\F45D";
}
.vm-icon-ios-mic:before {
  content: "\F461";
}
.vm-icon-ios-mic-off:before {
  content: "\F45F";
}
.vm-icon-ios-mic-outline:before {
  content: "\F460";
}
.vm-icon-ios-minus:before {
  content: "\F464";
}
.vm-icon-ios-minus-empty:before {
  content: "\F462";
}
.vm-icon-ios-minus-outline:before {
  content: "\F463";
}
.vm-icon-ios-monitor:before {
  content: "\F466";
}
.vm-icon-ios-monitor-outline:before {
  content: "\F465";
}
.vm-icon-ios-moon:before {
  content: "\F468";
}
.vm-icon-ios-moon-outline:before {
  content: "\F467";
}
.vm-icon-ios-more:before {
  content: "\F46A";
}
.vm-icon-ios-more-outline:before {
  content: "\F469";
}
.vm-icon-ios-musical-note:before {
  content: "\F46B";
}
.vm-icon-ios-musical-notes:before {
  content: "\F46C";
}
.vm-icon-ios-navigate:before {
  content: "\F46E";
}
.vm-icon-ios-navigate-outline:before {
  content: "\F46D";
}
.vm-icon-ios-nutrition:before {
  content: "\F470";
}
.vm-icon-ios-nutrition-outline:before {
  content: "\F46F";
}
.vm-icon-ios-paper:before {
  content: "\F472";
}
.vm-icon-ios-paper-outline:before {
  content: "\F471";
}
.vm-icon-ios-paperplane:before {
  content: "\F474";
}
.vm-icon-ios-paperplane-outline:before {
  content: "\F473";
}
.vm-icon-ios-partlysunny:before {
  content: "\F476";
}
.vm-icon-ios-partlysunny-outline:before {
  content: "\F475";
}
.vm-icon-ios-pause:before {
  content: "\F478";
}
.vm-icon-ios-pause-outline:before {
  content: "\F477";
}
.vm-icon-ios-paw:before {
  content: "\F47A";
}
.vm-icon-ios-paw-outline:before {
  content: "\F479";
}
.vm-icon-ios-people:before {
  content: "\F47C";
}
.vm-icon-ios-people-outline:before {
  content: "\F47B";
}
.vm-icon-ios-person:before {
  content: "\F47E";
}
.vm-icon-ios-person-outline:before {
  content: "\F47D";
}
.vm-icon-ios-personadd:before {
  content: "\F480";
}
.vm-icon-ios-personadd-outline:before {
  content: "\F47F";
}
.vm-icon-ios-photos:before {
  content: "\F482";
}
.vm-icon-ios-photos-outline:before {
  content: "\F481";
}
.vm-icon-ios-pie:before {
  content: "\F484";
}
.vm-icon-ios-pie-outline:before {
  content: "\F483";
}
.vm-icon-ios-pint:before {
  content: "\F486";
}
.vm-icon-ios-pint-outline:before {
  content: "\F485";
}
.vm-icon-ios-play:before {
  content: "\F488";
}
.vm-icon-ios-play-outline:before {
  content: "\F487";
}
.vm-icon-ios-plus:before {
  content: "\F48B";
}
.vm-icon-ios-plus-empty:before {
  content: "\F489";
}
.vm-icon-ios-plus-outline:before {
  content: "\F48A";
}
.vm-icon-ios-pricetag:before {
  content: "\F48D";
}
.vm-icon-ios-pricetag-outline:before {
  content: "\F48C";
}
.vm-icon-ios-pricetags:before {
  content: "\F48F";
}
.vm-icon-ios-pricetags-outline:before {
  content: "\F48E";
}
.vm-icon-ios-printer:before {
  content: "\F491";
}
.vm-icon-ios-printer-outline:before {
  content: "\F490";
}
.vm-icon-ios-pulse:before {
  content: "\F493";
}
.vm-icon-ios-pulse-strong:before {
  content: "\F492";
}
.vm-icon-ios-rainy:before {
  content: "\F495";
}
.vm-icon-ios-rainy-outline:before {
  content: "\F494";
}
.vm-icon-ios-recording:before {
  content: "\F497";
}
.vm-icon-ios-recording-outline:before {
  content: "\F496";
}
.vm-icon-ios-redo:before {
  content: "\F499";
}
.vm-icon-ios-redo-outline:before {
  content: "\F498";
}
.vm-icon-ios-refresh:before {
  content: "\F49C";
}
.vm-icon-ios-refresh-empty:before {
  content: "\F49A";
}
.vm-icon-ios-refresh-outline:before {
  content: "\F49B";
}
.vm-icon-ios-reload:before {
  content: "\F49D";
}
.vm-icon-ios-reverse-camera:before {
  content: "\F49F";
}
.vm-icon-ios-reverse-camera-outline:before {
  content: "\F49E";
}
.vm-icon-ios-rewind:before {
  content: "\F4A1";
}
.vm-icon-ios-rewind-outline:before {
  content: "\F4A0";
}
.vm-icon-ios-rose:before {
  content: "\F4A3";
}
.vm-icon-ios-rose-outline:before {
  content: "\F4A2";
}
.vm-icon-ios-search:before {
  content: "\F4A5";
}
.vm-icon-ios-search-strong:before {
  content: "\F4A4";
}
.vm-icon-ios-settings:before {
  content: "\F4A7";
}
.vm-icon-ios-settings-strong:before {
  content: "\F4A6";
}
.vm-icon-ios-shuffle:before {
  content: "\F4A9";
}
.vm-icon-ios-shuffle-strong:before {
  content: "\F4A8";
}
.vm-icon-ios-skipbackward:before {
  content: "\F4AB";
}
.vm-icon-ios-skipbackward-outline:before {
  content: "\F4AA";
}
.vm-icon-ios-skipforward:before {
  content: "\F4AD";
}
.vm-icon-ios-skipforward-outline:before {
  content: "\F4AC";
}
.vm-icon-ios-snowy:before {
  content: "\F4AE";
}
.vm-icon-ios-speedometer:before {
  content: "\F4B0";
}
.vm-icon-ios-speedometer-outline:before {
  content: "\F4AF";
}
.vm-icon-ios-star:before {
  content: "\F4B3";
}
.vm-icon-ios-star-half:before {
  content: "\F4B1";
}
.vm-icon-ios-star-outline:before {
  content: "\F4B2";
}
.vm-icon-ios-stopwatch:before {
  content: "\F4B5";
}
.vm-icon-ios-stopwatch-outline:before {
  content: "\F4B4";
}
.vm-icon-ios-sunny:before {
  content: "\F4B7";
}
.vm-icon-ios-sunny-outline:before {
  content: "\F4B6";
}
.vm-icon-ios-telephone:before {
  content: "\F4B9";
}
.vm-icon-ios-telephone-outline:before {
  content: "\F4B8";
}
.vm-icon-ios-tennisball:before {
  content: "\F4BB";
}
.vm-icon-ios-tennisball-outline:before {
  content: "\F4BA";
}
.vm-icon-ios-thunderstorm:before {
  content: "\F4BD";
}
.vm-icon-ios-thunderstorm-outline:before {
  content: "\F4BC";
}
.vm-icon-ios-time:before {
  content: "\F4BF";
}
.vm-icon-ios-time-outline:before {
  content: "\F4BE";
}
.vm-icon-ios-timer:before {
  content: "\F4C1";
}
.vm-icon-ios-timer-outline:before {
  content: "\F4C0";
}
.vm-icon-ios-toggle:before {
  content: "\F4C3";
}
.vm-icon-ios-toggle-outline:before {
  content: "\F4C2";
}
.vm-icon-ios-trash:before {
  content: "\F4C5";
}
.vm-icon-ios-trash-outline:before {
  content: "\F4C4";
}
.vm-icon-ios-undo:before {
  content: "\F4C7";
}
.vm-icon-ios-undo-outline:before {
  content: "\F4C6";
}
.vm-icon-ios-unlocked:before {
  content: "\F4C9";
}
.vm-icon-ios-unlocked-outline:before {
  content: "\F4C8";
}
.vm-icon-ios-upload:before {
  content: "\F4CB";
}
.vm-icon-ios-upload-outline:before {
  content: "\F4CA";
}
.vm-icon-ios-videocam:before {
  content: "\F4CD";
}
.vm-icon-ios-videocam-outline:before {
  content: "\F4CC";
}
.vm-icon-ios-volume-high:before {
  content: "\F4CE";
}
.vm-icon-ios-volume-low:before {
  content: "\F4CF";
}
.vm-icon-ios-wineglass:before {
  content: "\F4D1";
}
.vm-icon-ios-wineglass-outline:before {
  content: "\F4D0";
}
.vm-icon-ios-world:before {
  content: "\F4D3";
}
.vm-icon-ios-world-outline:before {
  content: "\F4D2";
}
.vm-icon-ipad:before {
  content: "\F1F9";
}
.vm-icon-iphone:before {
  content: "\F1FA";
}
.vm-icon-ipod:before {
  content: "\F1FB";
}
.vm-icon-jet:before {
  content: "\F295";
}
.vm-icon-key:before {
  content: "\F296";
}
.vm-icon-knife:before {
  content: "\F297";
}
.vm-icon-laptop:before {
  content: "\F1FC";
}
.vm-icon-leaf:before {
  content: "\F1FD";
}
.vm-icon-levels:before {
  content: "\F298";
}
.vm-icon-lightbulb:before {
  content: "\F299";
}
.vm-icon-link:before {
  content: "\F1FE";
}
.vm-icon-load-a:before {
  content: "\F29A";
}
.vm-icon-load-b:before {
  content: "\F29B";
}
.vm-icon-load-c:before {
  content: "\F29C";
}
.vm-icon-load-d:before {
  content: "\F29D";
}
.vm-icon-location:before {
  content: "\F1FF";
}
.vm-icon-lock-combination:before {
  content: "\F4D4";
}
.vm-icon-locked:before {
  content: "\F200";
}
.vm-icon-log-in:before {
  content: "\F29E";
}
.vm-icon-log-out:before {
  content: "\F29F";
}
.vm-icon-loop:before {
  content: "\F201";
}
.vm-icon-magnet:before {
  content: "\F2A0";
}
.vm-icon-male:before {
  content: "\F2A1";
}
.vm-icon-man:before {
  content: "\F202";
}
.vm-icon-map:before {
  content: "\F203";
}
.vm-icon-medkit:before {
  content: "\F2A2";
}
.vm-icon-merge:before {
  content: "\F33F";
}
.vm-icon-mic-a:before {
  content: "\F204";
}
.vm-icon-mic-b:before {
  content: "\F205";
}
.vm-icon-mic-c:before {
  content: "\F206";
}
.vm-icon-minus:before {
  content: "\F209";
}
.vm-icon-minus-circled:before {
  content: "\F207";
}
.vm-icon-minus-round:before {
  content: "\F208";
}
.vm-icon-model-s:before {
  content: "\F2C1";
}
.vm-icon-monitor:before {
  content: "\F20A";
}
.vm-icon-more:before {
  content: "\F20B";
}
.vm-icon-mouse:before {
  content: "\F340";
}
.vm-icon-music-note:before {
  content: "\F20C";
}
.vm-icon-navicon:before {
  content: "\F20E";
}
.vm-icon-navicon-round:before {
  content: "\F20D";
}
.vm-icon-navigate:before {
  content: "\F2A3";
}
.vm-icon-network:before {
  content: "\F341";
}
.vm-icon-no-smoking:before {
  content: "\F2C2";
}
.vm-icon-nuclear:before {
  content: "\F2A4";
}
.vm-icon-outlet:before {
  content: "\F342";
}
.vm-icon-paintbrush:before {
  content: "\F4D5";
}
.vm-icon-paintbucket:before {
  content: "\F4D6";
}
.vm-icon-paper-airplane:before {
  content: "\F2C3";
}
.vm-icon-paperclip:before {
  content: "\F20F";
}
.vm-icon-pause:before {
  content: "\F210";
}
.vm-icon-person:before {
  content: "\F213";
}
.vm-icon-person-add:before {
  content: "\F211";
}
.vm-icon-person-stalker:before {
  content: "\F212";
}
.vm-icon-pie-graph:before {
  content: "\F2A5";
}
.vm-icon-pin:before {
  content: "\F2A6";
}
.vm-icon-pinpoint:before {
  content: "\F2A7";
}
.vm-icon-pizza:before {
  content: "\F2A8";
}
.vm-icon-plane:before {
  content: "\F214";
}
.vm-icon-planet:before {
  content: "\F343";
}
.vm-icon-play:before {
  content: "\F215";
}
.vm-icon-playstation:before {
  content: "\F30A";
}
.vm-icon-plus:before {
  content: "\F218";
}
.vm-icon-plus-circled:before {
  content: "\F216";
}
.vm-icon-plus-round:before {
  content: "\F217";
}
.vm-icon-podium:before {
  content: "\F344";
}
.vm-icon-pound:before {
  content: "\F219";
}
.vm-icon-power:before {
  content: "\F2A9";
}
.vm-icon-pricetag:before {
  content: "\F2AA";
}
.vm-icon-pricetags:before {
  content: "\F2AB";
}
.vm-icon-printer:before {
  content: "\F21A";
}
.vm-icon-pull-request:before {
  content: "\F345";
}
.vm-icon-qr-scanner:before {
  content: "\F346";
}
.vm-icon-quote:before {
  content: "\F347";
}
.vm-icon-radio-waves:before {
  content: "\F2AC";
}
.vm-icon-record:before {
  content: "\F21B";
}
.vm-icon-refresh:before {
  content: "\F21C";
}
.vm-icon-reply:before {
  content: "\F21E";
}
.vm-icon-reply-all:before {
  content: "\F21D";
}
.vm-icon-ribbon-a:before {
  content: "\F348";
}
.vm-icon-ribbon-b:before {
  content: "\F349";
}
.vm-icon-sad:before {
  content: "\F34A";
}
.vm-icon-sad-outline:before {
  content: "\F4D7";
}
.vm-icon-scissors:before {
  content: "\F34B";
}
.vm-icon-search:before {
  content: "\F21F";
}
.vm-icon-settings:before {
  content: "\F2AD";
}
.vm-icon-share:before {
  content: "\F220";
}
.vm-icon-shuffle:before {
  content: "\F221";
}
.vm-icon-skip-backward:before {
  content: "\F222";
}
.vm-icon-skip-forward:before {
  content: "\F223";
}
.vm-icon-social-android:before {
  content: "\F225";
}
.vm-icon-social-android-outline:before {
  content: "\F224";
}
.vm-icon-social-angular:before {
  content: "\F4D9";
}
.vm-icon-social-angular-outline:before {
  content: "\F4D8";
}
.vm-icon-social-apple:before {
  content: "\F227";
}
.vm-icon-social-apple-outline:before {
  content: "\F226";
}
.vm-icon-social-bitcoin:before {
  content: "\F2AF";
}
.vm-icon-social-bitcoin-outline:before {
  content: "\F2AE";
}
.vm-icon-social-buffer:before {
  content: "\F229";
}
.vm-icon-social-buffer-outline:before {
  content: "\F228";
}
.vm-icon-social-chrome:before {
  content: "\F4DB";
}
.vm-icon-social-chrome-outline:before {
  content: "\F4DA";
}
.vm-icon-social-codepen:before {
  content: "\F4DD";
}
.vm-icon-social-codepen-outline:before {
  content: "\F4DC";
}
.vm-icon-social-css3:before {
  content: "\F4DF";
}
.vm-icon-social-css3-outline:before {
  content: "\F4DE";
}
.vm-icon-social-designernews:before {
  content: "\F22B";
}
.vm-icon-social-designernews-outline:before {
  content: "\F22A";
}
.vm-icon-social-dribbble:before {
  content: "\F22D";
}
.vm-icon-social-dribbble-outline:before {
  content: "\F22C";
}
.vm-icon-social-dropbox:before {
  content: "\F22F";
}
.vm-icon-social-dropbox-outline:before {
  content: "\F22E";
}
.vm-icon-social-euro:before {
  content: "\F4E1";
}
.vm-icon-social-euro-outline:before {
  content: "\F4E0";
}
.vm-icon-social-facebook:before {
  content: "\F231";
}
.vm-icon-social-facebook-outline:before {
  content: "\F230";
}
.vm-icon-social-foursquare:before {
  content: "\F34D";
}
.vm-icon-social-foursquare-outline:before {
  content: "\F34C";
}
.vm-icon-social-freebsd-devil:before {
  content: "\F2C4";
}
.vm-icon-social-github:before {
  content: "\F233";
}
.vm-icon-social-github-outline:before {
  content: "\F232";
}
.vm-icon-social-google:before {
  content: "\F34F";
}
.vm-icon-social-google-outline:before {
  content: "\F34E";
}
.vm-icon-social-googleplus:before {
  content: "\F235";
}
.vm-icon-social-googleplus-outline:before {
  content: "\F234";
}
.vm-icon-social-hackernews:before {
  content: "\F237";
}
.vm-icon-social-hackernews-outline:before {
  content: "\F236";
}
.vm-icon-social-html5:before {
  content: "\F4E3";
}
.vm-icon-social-html5-outline:before {
  content: "\F4E2";
}
.vm-icon-social-instagram:before {
  content: "\F351";
}
.vm-icon-social-instagram-outline:before {
  content: "\F350";
}
.vm-icon-social-javascript:before {
  content: "\F4E5";
}
.vm-icon-social-javascript-outline:before {
  content: "\F4E4";
}
.vm-icon-social-linkedin:before {
  content: "\F239";
}
.vm-icon-social-linkedin-outline:before {
  content: "\F238";
}
.vm-icon-social-markdown:before {
  content: "\F4E6";
}
.vm-icon-social-nodejs:before {
  content: "\F4E7";
}
.vm-icon-social-octocat:before {
  content: "\F4E8";
}
.vm-icon-social-pinterest:before {
  content: "\F2B1";
}
.vm-icon-social-pinterest-outline:before {
  content: "\F2B0";
}
.vm-icon-social-python:before {
  content: "\F4E9";
}
.vm-icon-social-reddit:before {
  content: "\F23B";
}
.vm-icon-social-reddit-outline:before {
  content: "\F23A";
}
.vm-icon-social-rss:before {
  content: "\F23D";
}
.vm-icon-social-rss-outline:before {
  content: "\F23C";
}
.vm-icon-social-sass:before {
  content: "\F4EA";
}
.vm-icon-social-skype:before {
  content: "\F23F";
}
.vm-icon-social-skype-outline:before {
  content: "\F23E";
}
.vm-icon-social-snapchat:before {
  content: "\F4EC";
}
.vm-icon-social-snapchat-outline:before {
  content: "\F4EB";
}
.vm-icon-social-tumblr:before {
  content: "\F241";
}
.vm-icon-social-tumblr-outline:before {
  content: "\F240";
}
.vm-icon-social-tux:before {
  content: "\F2C5";
}
.vm-icon-social-twitch:before {
  content: "\F4EE";
}
.vm-icon-social-twitch-outline:before {
  content: "\F4ED";
}
.vm-icon-social-twitter:before {
  content: "\F243";
}
.vm-icon-social-twitter-outline:before {
  content: "\F242";
}
.vm-icon-social-usd:before {
  content: "\F353";
}
.vm-icon-social-usd-outline:before {
  content: "\F352";
}
.vm-icon-social-vimeo:before {
  content: "\F245";
}
.vm-icon-social-vimeo-outline:before {
  content: "\F244";
}
.vm-icon-social-whatsapp:before {
  content: "\F4F0";
}
.vm-icon-social-whatsapp-outline:before {
  content: "\F4EF";
}
.vm-icon-social-windows:before {
  content: "\F247";
}
.vm-icon-social-windows-outline:before {
  content: "\F246";
}
.vm-icon-social-wordpress:before {
  content: "\F249";
}
.vm-icon-social-wordpress-outline:before {
  content: "\F248";
}
.vm-icon-social-yahoo:before {
  content: "\F24B";
}
.vm-icon-social-yahoo-outline:before {
  content: "\F24A";
}
.vm-icon-social-yen:before {
  content: "\F4F2";
}
.vm-icon-social-yen-outline:before {
  content: "\F4F1";
}
.vm-icon-social-youtube:before {
  content: "\F24D";
}
.vm-icon-social-youtube-outline:before {
  content: "\F24C";
}
.vm-icon-soup-can:before {
  content: "\F4F4";
}
.vm-icon-soup-can-outline:before {
  content: "\F4F3";
}
.vm-icon-speakerphone:before {
  content: "\F2B2";
}
.vm-icon-speedometer:before {
  content: "\F2B3";
}
.vm-icon-spoon:before {
  content: "\F2B4";
}
.vm-icon-star:before {
  content: "\F24E";
}
.vm-icon-stats-bars:before {
  content: "\F2B5";
}
.vm-icon-steam:before {
  content: "\F30B";
}
.vm-icon-stop:before {
  content: "\F24F";
}
.vm-icon-thermometer:before {
  content: "\F2B6";
}
.vm-icon-thumbsdown:before {
  content: "\F250";
}
.vm-icon-thumbsup:before {
  content: "\F251";
}
.vm-icon-toggle:before {
  content: "\F355";
}
.vm-icon-toggle-filled:before {
  content: "\F354";
}
.vm-icon-transgender:before {
  content: "\F4F5";
}
.vm-icon-trash-a:before {
  content: "\F252";
}
.vm-icon-trash-b:before {
  content: "\F253";
}
.vm-icon-trophy:before {
  content: "\F356";
}
.vm-icon-tshirt:before {
  content: "\F4F7";
}
.vm-icon-tshirt-outline:before {
  content: "\F4F6";
}
.vm-icon-umbrella:before {
  content: "\F2B7";
}
.vm-icon-university:before {
  content: "\F357";
}
.vm-icon-unlocked:before {
  content: "\F254";
}
.vm-icon-upload:before {
  content: "\F255";
}
.vm-icon-usb:before {
  content: "\F2B8";
}
.vm-icon-videocamera:before {
  content: "\F256";
}
.vm-icon-volume-high:before {
  content: "\F257";
}
.vm-icon-volume-low:before {
  content: "\F258";
}
.vm-icon-volume-medium:before {
  content: "\F259";
}
.vm-icon-volume-mute:before {
  content: "\F25A";
}
.vm-icon-wand:before {
  content: "\F358";
}
.vm-icon-waterdrop:before {
  content: "\F25B";
}
.vm-icon-wifi:before {
  content: "\F25C";
}
.vm-icon-wineglass:before {
  content: "\F2B9";
}
.vm-icon-woman:before {
  content: "\F25D";
}
.vm-icon-wrench:before {
  content: "\F2BA";
}
.vm-icon-xbox:before {
  content: "\F30C";
}
.vm-icon-load-a,
.vm-icon-load-b,
.vm-icon-load-c,
.vm-icon-load-d {
  animation: rotating 1s linear infinite;
}
@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.vm-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #bfcbd9;
  border-color: #c4c4c4;
  color: #1f2d3d;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
}
.vm-button + .vm-button {
  margin-left: 10px;
}
.vm-button:hover,
.vm-button:focus {
  color: #20a0ff;
  border-color: #20a0ff;
}
.vm-button:active {
  color: #1d90e6;
  border-color: #1d90e6;
  outline: none;
}
.vm-button::-moz-focus-inner {
  border: 0;
}
.vm-button [class*="vm-icon-"] + span {
  margin-left: 5px;
}
.vm-button span > i {
  margin-left: 5px;
}
.vm-button.is-plain:hover,
.vm-button.is-plain:focus {
  color: #20a0ff;
  background-color: #fff;
  border-color: #20a0ff;
}
.vm-button.is-plain:active {
  color: #1d90e6;
  background-color: #fff;
  border-color: #1d90e6;
  outline: none;
}
.vm-button.is-active {
  color: #1d90e6;
  border: #1d90e6;
}
.vm-button.is-disabled,
.vm-button.is-disabled:hover,
.vm-button.is-disabled:focus {
  color: #bfcbd9;
  cursor: not-allowed;
  background-image: none;
  background-color: #eef1f6;
  border-color: #d1dbe5;
}
.vm-button.is-disabled.vm-button--text {
  background-color: transparent;
}
.vm-button.is-disabled.is-plain,
.vm-button.is-disabled.is-plain:hover,
.vm-button.is-disabled.is-plain:focus {
  color: #bfcbd9;
  background-color: #fff;
  border-color: #d1dbe5;
}
.vm-button.is-loading {
  position: relative;
  pointer-events: none;
}
.vm-button.is-loading:before {
  pointer-events: none;
  content: '';
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: inherit;
  background-color: rgba(255, 255, 255, 0.35);
}
.vm-button--primary {
  color: #fff;
  background-color: #20a0ff;
  border-color: #20a0ff;
}
.vm-button--primary:hover,
.vm-button--primary:focus {
  color: #fff;
  background-color: #4db3ff;
  border-color: #4db3ff;
}
.vm-button--primary:active {
  color: #fff;
  background-color: #1d90e6;
  border-color: #1d90e6;
  outline: none;
}
.vm-button--primary.is-active {
  color: #fff;
  background-color: #1d90e6;
  border-color: #1d90e6;
}
.vm-button--primary.is-plain {
  color: #1f2d3d;
  background-color: #fff;
  border: 1px solid #bfcbd9;
}
.vm-button--primary.is-plain:hover,
.vm-button--primary.is-plain:focus {
  color: #20a0ff;
  background-color: #fff;
  border-color: #20a0ff;
}
.vm-button--primary.is-plain:active {
  color: #1d90e6;
  background-color: #fff;
  border-color: #1d90e6;
  outline: none;
}
.vm-button--success {
  color: #fff;
  background-color: #13ce66;
  border-color: #13ce66;
}
.vm-button--success:hover,
.vm-button--success:focus {
  color: #fff;
  background-color: #42d885;
  border-color: #42d885;
}
.vm-button--success:active {
  color: #fff;
  background-color: #11b95c;
  border-color: #11b95c;
  outline: none;
}
.vm-button--success.is-active {
  color: #fff;
  background-color: #11b95c;
  border-color: #11b95c;
}
.vm-button--success.is-plain {
  color: #1f2d3d;
  background-color: #fff;
  border: 1px solid #bfcbd9;
}
.vm-button--success.is-plain:hover,
.vm-button--success.is-plain:focus {
  color: #13ce66;
  background-color: #fff;
  border-color: #13ce66;
}
.vm-button--success.is-plain:active {
  color: #11b95c;
  background-color: #fff;
  border-color: #11b95c;
  outline: none;
}
.vm-button--warning {
  color: #fff;
  background-color: #f7ba2a;
  border-color: #f7ba2a;
}
.vm-button--warning:hover,
.vm-button--warning:focus {
  color: #fff;
  background-color: #f9c855;
  border-color: #f9c855;
}
.vm-button--warning:active {
  color: #fff;
  background-color: #dea726;
  border-color: #dea726;
  outline: none;
}
.vm-button--warning.is-active {
  color: #fff;
  background-color: #dea726;
  border-color: #dea726;
}
.vm-button--warning.is-plain {
  color: #1f2d3d;
  background-color: #fff;
  border: 1px solid #bfcbd9;
}
.vm-button--warning.is-plain:hover,
.vm-button--warning.is-plain:focus {
  color: #f7ba2a;
  background-color: #fff;
  border-color: #f7ba2a;
}
.vm-button--warning.is-plain:active {
  color: #dea726;
  background-color: #fff;
  border-color: #dea726;
  outline: none;
}
.vm-button--danger {
  color: #fff;
  background-color: #ff4949;
  border-color: #ff4949;
}
.vm-button--danger:hover,
.vm-button--danger:focus {
  color: #fff;
  background-color: #ff6d6d;
  border-color: #ff6d6d;
}
.vm-button--danger:active {
  color: #fff;
  background-color: #e64242;
  border-color: #e64242;
  outline: none;
}
.vm-button--danger.is-active {
  color: #fff;
  background-color: #e64242;
  border-color: #e64242;
}
.vm-button--danger.is-plain {
  color: #1f2d3d;
  background-color: #fff;
  border: 1px solid #bfcbd9;
}
.vm-button--danger.is-plain:hover,
.vm-button--danger.is-plain:focus {
  color: #ff4949;
  background-color: #fff;
  border-color: #ff4949;
}
.vm-button--danger.is-plain:active {
  color: #e64242;
  background-color: #fff;
  border-color: #e64242;
  outline: none;
}
.vm-button--info {
  color: #fff;
  background-color: #50bfff;
  border-color: #50bfff;
}
.vm-button--info:hover,
.vm-button--info:focus {
  color: #fff;
  background-color: #73ccff;
  border-color: #73ccff;
}
.vm-button--info:active {
  color: #fff;
  background-color: #48ace6;
  border-color: #48ace6;
  outline: none;
}
.vm-button--info.is-active {
  color: #fff;
  background-color: #48ace6;
  border-color: #48ace6;
}
.vm-button--info.is-plain {
  color: #1f2d3d;
  background-color: #fff;
  border: 1px solid #bfcbd9;
}
.vm-button--info.is-plain:hover,
.vm-button--info.is-plain:focus {
  color: #50bfff;
  background-color: #fff;
  border-color: #50bfff;
}
.vm-button--info.is-plain:active {
  color: #48ace6;
  background-color: #fff;
  border-color: #48ace6;
  outline: none;
}
.vm-button--large {
  padding: 11px 19px;
  font-size: 16px;
  border-radius: 4px;
}
.vm-button--default {
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
}
.vm-button--small {
  padding: 7px 9px;
  font-size: 12px;
  border-radius: 4px;
}
.vm-button--mini {
  padding: 4px 4px;
  font-size: 12px;
  border-radius: 4px;
}
.vm-button--text {
  border: none;
  color: #20a0ff;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}
.vm-button--text:hover,
.vm-button--text:focus {
  color: #4db3ff;
}
.vm-button--text:active {
  color: #36aaff;
}
.vm-button-group {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
.vm-button-group:before,
.vm-button-group:after {
  content: "";
  display: table;
}
.vm-button-group:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.vm-button-group .vm-button {
  float: left;
  position: relative;
}
.vm-button-group .vm-button + .vm-button {
  margin-left: 0;
}
.vm-button-group .vm-button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.vm-button-group .vm-button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.vm-button-group .vm-button:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.vm-button-group .vm-button:not(:last-child) {
  margin-right: -1px;
}
.vm-button-group .vm-button:hover,
.vm-button-group .vm-button:focus,
.vm-button-group .vm-button:active {
  z-index: 1;
}
.vm-button-group .vm-button--active {
  z-index: 1;
}
.vm-button-group .vm-button--primary:first-child,
.vm-button-group .vm-button--success:first-child,
.vm-button-group .vm-button--warning:first-child,
.vm-button-group .vm-button--danger:first-child,
.vm-button-group .vm-button--info:first-child {
  border-right-color: rgba(255, 255, 255, 0.5);
}
.vm-button-group .vm-button--primary:last-child,
.vm-button-group .vm-button--success:last-child,
.vm-button-group .vm-button--warning:last-child,
.vm-button-group .vm-button--danger:last-child,
.vm-button-group .vm-button--info:last-child {
  border-left-color: rgba(255, 255, 255, 0.5);
}
.vm-button-group .vm-button--primary:not(:first-child):not(:last-child),
.vm-button-group .vm-button--success:not(:first-child):not(:last-child),
.vm-button-group .vm-button--warning:not(:first-child):not(:last-child),
.vm-button-group .vm-button--danger:not(:first-child):not(:last-child),
.vm-button-group .vm-button--info:not(:first-child):not(:last-child) {
  border-left-color: rgba(255, 255, 255, 0.5);
  border-right-color: rgba(255, 255, 255, 0.5);
}
.vm-button-group-vertical .vm-button {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
}
.vm-button-group-vertical .vm-button:first-child {
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
}
.vm-button-group-vertical .vm-button:last-child {
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
}
.vm-button-group-vertical .vm-button:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.vm-button-group-vertical .vm-button:not(:last-child) {
  margin-bottom: -1px;
}
.vm-button-group-vertical .vm-button:hover,
.vm-button-group-vertical .vm-button:focus,
.vm-button-group-vertical .vm-button:active {
  z-index: 1;
}
.vm-button-group-vertical .vm-button--active {
  z-index: 1;
}
.vm-button-group-vertical .vm-button--primary:first-child {
  border-right-color: #20a0ff;
  border-bottom-color: rgba(255, 255, 255, 0.5);
}
.vm-button-group-vertical .vm-button--primary:last-child {
  border-left-color: #20a0ff;
  border-top-color: rgba(255, 255, 255, 0.5);
}
.vm-button-group-vertical .vm-button--primary:not(:first-child):not(:last-child) {
  border-right-color: #20a0ff;
  border-left-color: #20a0ff;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
}
.vm-button-group-vertical .vm-button--success:first-child {
  border-right-color: #13ce66;
  border-bottom-color: rgba(255, 255, 255, 0.5);
}
.vm-button-group-vertical .vm-button--success:last-child {
  border-left-color: #13ce66;
  border-top-color: rgba(255, 255, 255, 0.5);
}
.vm-button-group-vertical .vm-button--success:not(:first-child):not(:last-child) {
  border-right-color: #13ce66;
  border-left-color: #13ce66;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
}
.vm-button-group-vertical .vm-button--warning:first-child {
  border-right-color: #f7ba2a;
  border-bottom-color: rgba(255, 255, 255, 0.5);
}
.vm-button-group-vertical .vm-button--warning:last-child {
  border-left-color: #f7ba2a;
  border-top-color: rgba(255, 255, 255, 0.5);
}
.vm-button-group-vertical .vm-button--warning:not(:first-child):not(:last-child) {
  border-right-color: #f7ba2a;
  border-left-color: #f7ba2a;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
}
.vm-button-group-vertical .vm-button--danger:first-child {
  border-right-color: #ff4949;
  border-bottom-color: rgba(255, 255, 255, 0.5);
}
.vm-button-group-vertical .vm-button--danger:last-child {
  border-left-color: #ff4949;
  border-top-color: rgba(255, 255, 255, 0.5);
}
.vm-button-group-vertical .vm-button--danger:not(:first-child):not(:last-child) {
  border-right-color: #ff4949;
  border-left-color: #ff4949;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
}
.vm-button-group-vertical .vm-button--info:first-child {
  border-right-color: #50bfff;
  border-bottom-color: rgba(255, 255, 255, 0.5);
}
.vm-button-group-vertical .vm-button--info:last-child {
  border-left-color: #50bfff;
  border-top-color: rgba(255, 255, 255, 0.5);
}
.vm-button-group-vertical .vm-button--info:not(:first-child):not(:last-child) {
  border-right-color: #50bfff;
  border-left-color: #50bfff;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

/*# sourceMappingURL=app.fcececed97824c62d4d6cc0561a3ce70.css.map*/